.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nxt-trends-text {
  height: 40px;
  margin-top: 30px;
}
.website-logo {
  height: 100px;
  margin-bottom: 40px;
}
